**/node_modules
**/.next
**/__pycache__
**/venv
**/.venv
**/*.pyc
**/.env
**/.git
**/.gitignore
**/.dockerignore
**/*.log
**/Dockerfile
**/README.md
**/docs
**/docker
**/database
**/secom
**/semiconductor-saas
