# General
.DS_Store
*.log
.env
.env.*

# Python
__pycache__/
*.py[cod]
*$py.class
env/
venv/
ENV/
.venv/
.pytest_cache/
.ipynb_checkpoints

# Node / JS
node_modules/
.npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Docker
docker/data/
docker-compose.override.yml

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Project specific root files
venv_all/
zips.zip
